 <head>
	<meta charset="utf-8">
	<title> To Do App</title>
</head>
<body>
	<hi> To Do App </hi> 
		<ol>
			<li> <input type="charset"> name="S" </li>
			<li> <input type="charset"> name="L"</li>
			<li> <input type="charset"> name="XL"</li>
			<li> <input type="charset"> name="XXL"</li>
		</ol>
 </body>
</html>