<html> lang"en"
 <head>
	<!-- <meta charset="utf-8"> -->
	<!-- <title> To Do App</title> -->
</head>
<body>
		
<form method="POST" action="/add">

<input type="text" name="title">

<input type="text" name="content">

<input type="text" name="author">

<button type="submit"> Create blog </button>
</form>

{% for blog in blogs %}


{%endfor%}
	<!-- <hi> To Do App </hi>  -->
		<!-- <ol><li> <input type="checkbox">rachana s b </li> -->
			<!-- <li> <input type="checkbox">rachita k g </li> -->
			<!-- <li> <input type="checkbox">rakshitha g s </li> -->
		<!-- </ol> -->
 </body>
</html>