<form method="POST" action="/add">

<input type="text" name="title">
<button type="submit"> delete </button>
<br>

<input type="text" name="content">
<button type="submit"> delete </button>
<br>
<input type="text" name="author">
<button type="submit"> delete</button>
<br>
<button type="submit"> Create blog </button>
</form>

{% for blog in blogs %}

	{{blog.title}}
	{{blog.content}}
	{{blog.author}}


{%endfor%}
